*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: azure;
    height: 100vh;
}
.piano-container{
    width: 400px;
    aspect-ratio: 16/9;
    /* border: 1px solid red; */
    background-color: black;
    border-radius: 8px;
    color : white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.piano-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border: 2px solid red; */
}
#volume-slider{
    cursor: pointer;
}
.keys-container{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    height: 75%;
    /* border: 2px solid red; */
    padding: 10px;
    position: relative;

}
.white-keys{
    background-color: white;
    height: 100%;
    width: 100px;
    margin: 1px;
    border-radius: 7px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 0 3px 0 grey;
    cursor: pointer;
}
.white-keys:active{
    box-shadow: none;
    background: linear-gradient(to bottom, white, rgb(202, 199, 199));
}
.active-white{
    box-shadow: none;
    background: linear-gradient(to bottom, white, rgb(202, 199, 199));

}

.black-keys{
    position: absolute;
    width: 30px;
    height: 100px;
    background-color: black;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 3px 0 grey;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.black-keys:active{
    box-shadow: none;
    background: linear-gradient(to bottom, black, grey);
}
.active-black{
    box-shadow: none;
    background: linear-gradient(to bottom, black, grey);

}
#w{
    left: 8%;
}
#e{
    left: 18%;
}
#t{
    left: 36.5%;
}
#y{
    left: 46%;
}
#u{
    left: 55.5%;
}
#o{
    left: 74.5%;
}
#p{
    left: 84%;
}


@media screen and (max-width: 600px) {
    .piano-container{
        rotate: 90deg;
        flex-shrink: 0;
    }
}